@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.18;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100%;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/*Убирает точки у списков*/
.navigation-list,
.advantages-list,
.desc-housing-list,
.catalog-filter-list,
.product-list,
.footer-list,
.card-type,
.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Хедер*/
.header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  z-index: 2;
  gap: 30px;
}

.sedona-logo-header {
  display: block;
  margin-bottom: -6px;
}

.page-header-logo {
  display: block;
}

/*Навигация хедер*/

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}


/* сердечко лупа */
.navigation-user {
  max-width: 180px;
  margin-left: auto;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.navigation-user svg {
  display: block;
}

.button-want {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 16px;
  width: 160px;
  height: 36px;
  background-color: #756157;
  margin: 14px 0;
}

/*Блок Hero*/

.hero-container {
  flex-grow: 1;
}

.hero-index {
  text-align: center;
  background-color: #ffffff;
}

/*Картинка с логотипом Hero*/
.hero-desc {
  background-image:
    url("../images/divider.png"),
    url("../images/mountain-home-page.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #000000;
}

.welcome-logo {
  display: block;
  margin: auto;
}

/* Преимущества заголовок (Седона не большой городок)*/

.wrap-desc-advantages {
  padding-top: 69px;
  padding-bottom: 69px;
}


.section-title-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
}

/* Преимущества описание (рассмотрим причины)*/
.section-subtitle-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  margin: 0
}

/*Блок преимуществ*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  align-items: center;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 70px 85px;
}

.advantages-item-extended {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:not(.advantages-item-extended):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-image {
  display: block;
}




/*Заголовок карточек преимущества*/
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
}

.advantages-desc {
  margin: 0;
}

/*Описание карточек преимущества*/

.advantages-item-extended {
  color: #f2f2f2;
}

.advantages-item:not(.advantages-item-extended) .advantages-title {
  color: #000000;
}



.wrap-desc-housing {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-title-housing {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-subtitle-housing {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  margin: 0;
}


/* Блок: еда, сувениры, жилье */
.desc-housing-list {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.desc-housing-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.desc-housing-item:nth-child(2n) {
  background-color: #ffffff;
}

/* Заголовок: еда, сувениры, жилье*/
.desc-housing-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 183px;
  margin-bottom: 30px;
}

/* Описание: еда, сувениры, жилье*/
.desc-housing-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
  margin: 0;
}


.hotel-offer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title-hotel {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-subtitle-hotel {
  margin-top: 0;
  margin-bottom: 54px;
}

.button-search-hotel {
  display: block;
  margin: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.18;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 24px;
  width: 376px;
  height: 52px;
  background-color: #756157;
}

.newsletter-index {
  background-color: #483a33;
  background-image: url("../images/Subscribe-mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;
  color: #ffffff;
  min-height: 414px;
}

.newsletter-page-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.newsletter-page-main-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.field {
  display: block;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  height: 52px;
  width: 452px;
  border-width: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  background-color: #f2f2f2;
}

.newsletter-button {
  display: block;
  border-radius: 0 4px 4px 0;
  height: 52px;
  width: 232px;
  background-color: #82b3d3;
  border-width: 0;
}

.name-button-submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/* footer */

.page-footer {
  min-height: 120px;
}

.wrap-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-list {
  display: flex;
  align-content: center;
}

.footer-social-item {
  align-content: center;
}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

/* Страница каталог*/

.hero-inner {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.wrap-filter {
  background-image: url("../images/catalog/catalog-inner.jpg");
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
  background-size: cover;
}

.button-want-catalog {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 16px;
  width: 160px;
  height: 36px;
  background-color: #756157;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  color: #ffffff;
  margin: 0;
}


.button-apply {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-width: 0;

}

.button-reset {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-width: 0;
  background-color: transparent;
}


.wrap-hotels-found {
  display: flex;
  width: 1060px;
  min-height: 49px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 50px;
}



.number-pages {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 20px;
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
  margin-bottom: 20px;
}

.card-type {
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
}

.button-cards {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.button-card {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.button-light {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}


.card-type-item {
  display: inline;
  padding-top: 10px;
  margin-right: 5px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 896px;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* .wrap-product-card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
} */

/* .product-card {
  margin-right: 20px;
  margin-bottom: ;
} */

.product-card-button {
  border-radius: 4px;
  padding-top: 8px;
  width: 140px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}


.button-more {
  background-color: #756157;
  color: #ffffff;
}

.button-favorites {
  background-color: #82b3d3;
  color: #ffffff;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000;
  text-decoration: none;
}

.pagination {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;

}

.pagination-item:first-child {
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  color: #000000;
}

.pagination-item:not(:nth-child(5)):not(:nth-child(1)) {
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  text-decoration: none;
}

.pagination-item:nth-child(5) {
  background-color: #ffffff;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}


.newsletter-catalog {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
  min-height: 414px;
  text-align: center;
}

.newsletter-page-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;

}

.newsletter-page-catalog-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;

}



.field {
  display: block;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  height: 52px;
  width: 452px;
  border-width: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  background-color: #f2f2f2;
}

.newsletter-button {
  display: block;
  border-radius: 0 4px 4px 0;
  height: 52px;
  width: 232px;
  background-color: #82b3d3;
  border-width: 0;
}

.name-button-submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
