@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.18;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100%;
  background-color: #ffffff;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/*Убирает точки у списков*/
.navigation-list,
.advantages-list,
.desc-housing-list,
.catalog-filter-list,
.product-list,
.footer-list,
.card-type,
.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  z-index: 2;
  gap: 30px;
  width: 1060px;
  margin: 0 auto;
}

.sedona-logo-header {
  display: block;
  margin-bottom: -6px;
}

.page-header-logo {
  display: block;
}

/*Навигация хедер*/

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  gap: 20px;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

/* Декоративное подчеркивание */
.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";

  right: 16px;
  left: 16px;
  bottom: 0;

  height: 2px;
  background-color: #756257;
}


/* сердечко лупа */
.navigation-user {
  max-width: 180px;
  margin-left: auto;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link:hover {
  color: #555555;
}

.navigation-link:active {
  color: #000000;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.navigation-user svg {
  display: block;
}

.button-want {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 16px;
  width: 160px;
  height: 36px;
  background-color: #756157;
  margin: 14px 0;
}

.button-want:hover {
  background-color: #615048;
}

.button-want:focus {
  background-color: #615048;
}

.button-want:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-for-favorit {
  position: relative;
}

.favourites-number {
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: center;

  position: absolute;
  top: 8px;
  right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7db54f;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
  padding: 4px;
}



/*Блок Hero*/

.hero-container {
  flex-grow: 1;
}

.hero-index {
  text-align: center;
  background-color: #ffffff;
}

/*Картинка с логотипом Hero*/
.hero-desc {
  background-image:
    url("../images/divider.png"),
    url("../images/mountain-home-page.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #000000;
}

.welcome-logo {
  display: block;
  margin: auto;
}

/* Преимущества заголовок (Седона не большой городок)*/

.wrap-desc-advantages {
  max-width: 660px;
  padding-top: 69px;
  padding-bottom: 69px;
  margin-left: auto;
  margin-right: auto;
}


.section-title-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
}

/* Преимущества описание (рассмотрим причины)*/
.section-subtitle-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  margin: 0
}

/*Блок преимуществ*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
}


.advantages-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}




.advantages-item-wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 70px 85px;
  height: 100%;
}

.advantages-item-extended {
  grid-column: 1 / -1;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:not(.advantages-item-extended):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-image {
  display: block;
}




/*Заголовок карточек преимущества*/
.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  margin: 0;
  padding-top: 32px;
  margin-bottom: 62px;
}

.advantages-item-extended .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title::after {
  position: absolute;
  content: "";

  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}




.advantages-desc {
  text-align: center;
  margin: 0;
}

/*Описание карточек преимущества*/

.advantages-item-extended {
  color: #f2f2f2;
}

.advantages-item:not(.advantages-item-extended) .advantages-title {
  color: #000000;
}



.wrap-desc-housing {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-title-housing {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-subtitle-housing {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  margin: 0;
}


/* Блок: еда, сувениры, жилье */
.desc-housing-list {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 0;
  margin-bottom: 0;
}

.desc-housing-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 183px 85px 70px;
  background-repeat: no-repeat;
}

.desc-housing-item-svg-house {
  background-image: url(../images/house-burger-gift/small-house.svg);
  background-position: 50% 81px;
  background-size: 75px 72px;
}

.desc-housing-item-svg-burger {
  background-image: url(../images/house-burger-gift/food.svg);
  background-position: 50% 82px;
  background-size: 74px 70px;
}

.desc-housing-item-svg-gift {
  background-image: url(../images/house-burger-gift/gift.svg);
  background-position: 50% 79px;
  background-size: 64px 76px;
}



.desc-housing-item:nth-child(2n) {
  background-color: #ffffff;
}




/* ---- */
/* Заголовок: еда, сувениры, жилье*/

.desc-housing-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

/* Описание: еда, сувениры, жилье*/
.desc-housing-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
  margin: 0;
}

/* ---- */



/* Блок заинтересовались  */
.hotel-offer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;

  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-subtitle-hotel {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 54px;
}

.button-search-hotel {
  display: block;
  margin: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
  width: 376px;
  background-color: #756157;
}

.button-search-hotel:hover {
  background-color: #615048;
}

.button-search-hotel:focus {
  background-color: #615048;
}

.button-search-hotel:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}


/* Блок подпишитесь на рассылку */
.newsletter-index {
  background-color: #483a33;
  background-image: url("../images/Subscribe-mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;
  color: #ffffff;
  min-height: 414px;
}

.newsletter-page-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.newsletter-page-main-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.field {
  display: block;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  height: 52px;
  width: 452px;
  border-width: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  background-color: #f2f2f2;
}

.newsletter-button {
  display: block;
  border-radius: 0 4px 4px 0;
  height: 52px;
  width: 232px;
  background-color: #82b3d3;
  border-width: 0;
}

.name-button-submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}


/* Страница каталог*/

.hero-inner {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.wrap-filter {
  background-image: url("../images/catalog/catalog-inner.jpg");
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
  background-size: cover;
  margin-bottom: 50px;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}



.breadcrumbs-item {
  display: flex;
  position: relative;
  margin-right: 28px;
  align-items: center;
}

.breadcrumbs-item::after {
  content: " ";
  position: absolute;
  display: flex;
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
  left: 23px;
  background-position: center;
  height: 13px;
  width: 8px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}



.catalog-filter-group {
  display: flex;
  flex: 0 1 150px;
  margin: 0;
  padding: 0;
  border: 0;
}


.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px
}


.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}


.control {
  display: flex;
  gap: 16px;
  line-height: 23px;
  cursor: pointer;
}

.control:hover {
  opacity: .6;
}


.control:active {
  opacity: .3;
}

.mark {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  background-color: #fff;
}

.checkbox-tick {
  border-radius: 4px;
}


.control-input:checked+.checkbox-tick {
  background-image: url("../images/catalog/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio-button {
  border-radius: 50%;
}

.radio-button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

input[type="radio"]:checked+.radio-button::before {
  background-color: #3f5e72;
}

.catalog-filter-group-price {
  flex-basis: 288px;
  margin-left: auto;
}

.catalog-filter-range {
  display: flex;
  flex-direction: column;
}

.range-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.range-inputs-label {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #f2f2f2;
}

.label-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.label-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input {
  border: none;
}

.range-inputs-label span {
  text-align: right;
  color: #000;
  opacity: 0.3;
}

.range-inputs-label .input {
  width: 100%;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-right: 12px;
  border-radius: 0;
  background-color: transparent;
}


.range-inputs-label:hover {
  background-color: #e6e6e6;
}

.range-inputs-label .input:focus-visible {
  outline: none;
}

.range-inputs-label:focus-within {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}


.range-scale {
  background-color: rgba(255, 255, 255, .3);
}

.range-scale-bar {
  position: relative;
  height: 4px;
  background-color: #fff;
}

.range-scale-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  border-radius: 5px;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 56px;
}

.catalog-filter-buttons button {
  width: 192px;
}

.submit {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.submit {
  background-color: #82b3d3;
}

.submit:focus-visible {
  background-color: #68a2Ca;
}

.submit:hover {
  background-color: #68a2Ca;
}

.submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, .3);
}

.submit:disabled {
  background-color: #e5e5e5;
}

.reset {
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
}

.reset:hover {
  color: rgba(255, 255, 255, .3);
}

.reset:active {
  color: rgba(255, 255, 255, .3);
}



.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  color: #ffffff;
  margin: 0;
}


.button-apply {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-width: 0;

}

.button-reset {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-width: 0;
  background-color: transparent;
}


.wrap-hotels-found {
  display: flex;
  width: 1060px;
  min-height: 49px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px;
}



.number-pages {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  align-self: center;

}

.wrap-select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.select-control {
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 20px;
  padding-right: 40px;
  width: 100%;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
  background-image: url("../images/catalog/arrow-control.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}



/* Иконки отображения */
.card-type {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 8px;
  margin: 0;
}


.button-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  padding: 6px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-card-current {
  border-color: #000000;
}

.button-card-link:hover {
  border-color: #000000;
}

.button-card-link:focus {
  border-color: #68a2ca;
  outline: none;
}

.button-card-link:active {
  border-color: #000000;
}




/* --------------- */

/* Карточки гостиниц */

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1060px;
  min-height: 896px;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 80px;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  width: 340px;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000;
  text-decoration: none;
  grid-column: 1 / -1;
}

.product-card-image {
  display: block;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
}

.product-card-type {
  margin: 0;
}

.product-card-price {
  text-align: end;
  margin: 0;
}

.product-card-button {
  display: block;
  min-width: 140px;
  border-radius: 4px;
  padding: 8px 20px;
  width: calc(50% - 10px);
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}




/* Кнопка подробнее */
.button-more {
  background-color: #756157;
  color: #ffffff;
  cursor: pointer;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  background-color: #615048;
}

.button-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}


/* Кнопка избранное blue  */
.button-favorites {
  background-color: #82b3d3;
  color: #ffffff;
  cursor: pointer;
}

.button-favorites:hover {
  background-color: #68a2ca;
}

.button-favorites:focus {
  background-color: #68a2ca;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

/* Кнопка избранное green*/
.button-favorites-green {
  background-color: #7db54f;
  color: #ffffff;
  cursor: pointer;
}

.button-favorites-green:hover {
  background-color: #6c9e42;
}

.button-favorites-green:focus {
  background-color: #6c9e42;
}

.button-favorites-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.rating-desc {
  display: block;
  border-radius: 4px;
  min-width: 140px;
  height: 37px;
  margin: 0;
  padding: 9px 15px;
  background: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}


.hotel_star {
  width: 90px;
  height: 37px;
  background-image: url(../images/star.svg);
  background-repeat: space;
  background-size: 18px 17px;
  margin: auto 0;
}

.hotel-star-4 {
  width: 88px;
  height: 18px;
}


.hotel-star-3 {
  width: 66px;
  height: 18px;
}


.hotel-star-2 {
  width: 42px;
  height: 18px;
}

/* ----------------------------------------- */

/* Пагинация */

.pagination::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 1060px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #e6e6e6;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 1060px;
  margin: 0 auto;
  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
}


.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  pointer-events: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #82b3d3;
}

.pagination-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}



.pagination-separator {
  display: block;
  text-align: center;
  padding-top: 17px;
  background-color: #ffffff;
  border-radius: 4px;
  width: 60px;
  height: 60px;

}


.newsletter-catalog {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
  min-height: 414px;
  text-align: center;
}

.newsletter-page-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;

}

.newsletter-page-catalog-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;

}



.field {
  display: block;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  height: 52px;
  width: 452px;
  border-width: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  background-color: #f2f2f2;
}

.newsletter-button {
  display: block;
  border-radius: 0 4px 4px 0;
  height: 52px;
  width: 232px;
  background-color: #82b3d3;
  border-width: 0;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.name-button-submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/* footer */

.page-footer {
  min-height: 120px;
}

.wrap-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 300px;
}

.footer-social-item {
  align-content: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

a[href^="tel:"] {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}


a[href^="tel:"]:hover {
  color: #756157;
}

a[href^="tel:"]:focus {
  color: #756157;
}

a[href^="tel:"]:active {
  color: rgba(117, 97, 87, 0.3);
}


.developer-link {
  color: #000000;
}

.developer-link:visited {
  color: #000000;
}

.developer-link:hover {
  color: #756157;
}

.developer-link:focus {
  color: #756157;
}


.developer-link:active {
  color: rgba(117, 97, 87, 0.3);
}


/* modal-container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  z-index: 2;
  display: none;
}
